div.form-group label {
    color: white;
}

#imgContacto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo, .logo-bottom {
    width: 15%;
}

  

  @media (min-width: 980px) {
    #formInfo {
        padding-left: 40px;
    }
}

@media (max-width: 980px) {
    .logo {
        width: 50%;
    }

    .logo-bottom {
        width: 20%;
    }
}
